body{
    background-color: #ddf0fc ;
}

div{
    margin: 0;
    padding: 0;
}
h3{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input{
    text-align: center;
    margin-left: 34.5%;
    height: 50px;
    width: 30%;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 2px 12px 0.1px rgb(148, 156, 148) ;
}
button{
    margin-left: 34.5%;
    height: 50px;
    width: 30%;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 2px 12px 0.1px rgb(148, 156, 148) ;
}